body
  margin: 0
  font-family: 'Spartan', sans-serif

.hide
  display: none

.navbar
  position: absolute
  left: 0
  width: 100%
  z-index: 2
  p
    margin: 0
    color: inherit
    font-size: 14px
    font-weight: 600
.mainbar
  display: flex
  text-align: center
  padding-top: 40px
.mbtn1
  flex: 1 1 50px
.mbtn2
  flex: 25 1 auto
  .logo
    position: relative
    right: 6%
.menu-button
  cursor: pointer
.close-button
  cursor: pointer
#menu
  height: 100vh
  background-color: rgba(0,0,0,0.5)

.list
  display: flex
  justify-content: space-around
  padding: 50px 20px
  background: White
  text-transform: lowercase
.btn1
  flex-basis: 40px

.hero-block
  position: relative
.heroimg
  width: 100%
.arrow-btn
  position: absolute
  display: flex
  background: black
  width: 120px
  height: 40px
  padding: 6px
  justify-content: space-around
  top: 308px
  right: 0
  img
    height: 25px
    position: relative
    top: 15%
  p
    display: inline
    width: 100px

.box
  padding: 50px 30px
  h1
    font-size: 25px
  p
    color: hsl(0, 0%, 63%)
    font-size: 12px
    font-weight: 500
    line-height: 1.5
  .show-btn
    color: black
    padding: 30px 0 0
    font-weight: bold
    font-size: 1rem
    letter-spacing: 5px
    img
      padding-left: 10px

.item2
  padding: 50px 30px
  h2
    text-transform: uppercase
    font-size: 12px
    letter-spacing: 4px
    font-weight: 900
  p
    color: hsl(0, 0%, 63%)
    font-size: 12px
    font-weight: 500
    line-height: 1.5
.about-image
  width: 100%
